# .coveragerc to control coverage.py
[coverage:run]
omit =
    *manage.py
    */distutils/*
    */tests/*
    */apps/*
    */migrations/*
    */site-packages/*
    */unicms-template*
    unicms/*
    */tests.py
    */pages/admin.py
    */medias/admin.py
    */templates/admin.py
    */unicms-editorial-board/*
    */unicms-unical-storage-handler/*
