{% load i18n %}
{% load static %}


<nav class="breadcrumb-container" aria-label="breadcrumb">
    <div class="container">
        <div class="col-12">
            <ol class="breadcrumb">

            {% for k,v in breadcrumbs %}
                {% if forloop.last and forloop.counter > 1 %}
                <li class="breadcrumb-item active" aria-current="page">
                    <a href="{{ k }}">{{ v }}</a>
                </li>
                {% else %}
                <li class="breadcrumb-item">
                    <a href="{{ k }}">{{ v }}</a>
                    <span class="separator">/</span>
                </li>
                {% endif %}
            {% endfor %}

            </ol>
        </div>

    </div>

</nav>


